.appbar-wrapper1 {
  width: 80%;
  border: 1px solid #ffffff;
  max-width: 329px;
  max-height: 93px;
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 15px;
  right: 80px;

  font-family: Comic Sans MS;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  text-decoration: underline;
  text-underline-position: under;
}

.appbar-wrapper1:hover {
  color: #00ffff;
  border-color: #00ffff;
}

.logo-style {
  width: 250px;
  margin: 30px;
}
