.appbar-wrapper1 {
  border: 1px solid #ffffff;
  padding: 10px;
  color: #fff;
  margin-top: 5px;
  font-family: Comic Sans MS;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  float: left;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}

.appbar-wrapper1:hover {
  color: #00ffff;
  border-color: #00ffff;
}

.logo-style {
  width: 250px;
  margin: 30px;
}
