.header {
  display: flex;
  /* background-color: #242345; */
  background-color: black;
}

.appbar-style {
  background-color: none;
}

.appbar-wrapper {
  width: 80%;
  margin: 0 auto;
}

.icon-style {
  font-size: 2rem;
  color: white;
}
