#home {
  background: linear-gradient(320.54deg, #22213c 0%, #242345 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#home .content-wrapper {
  position: relative;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper .estampa-style {
  flex: 1;
  position: absolute;
  left: 250px;

  height: 568.891px;
  object-fit: cover;
  margin: auto;
}

.section1 {
  margin: 70px 0px 0px 100px;
}

.section2 {
  margin: 70px 0px 0px 200px;
}

.acesse {
  font-family: Comic;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-right: 70px;
}

.OnlineStoreButtonhover {
}
.static {
  position: absolute;
}

.static:hover {
  opacity: 0;
}

.online-store-button-static {
  position: absolute;
  height: 131px;
  width: 711px;
}
.online-store-button-static:hover {
  opacity: 0;
}
