#home {
  background: linear-gradient(320.54deg, #22213c 0%, #242345 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#home .content-wrapper {
  position: relative;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper .estampa-style {
  flex: 1;
  position: absolute;
  left: 250px;

  height: 568.891px;
  object-fit: cover;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.section1 {
  flex: 1;
  margin: 70px 0px 0px 100px;
}

.section2 {
  flex: 1;
  align-items: center;
  margin: 70px 0px 0px 200px;
  text-align: center;
}

.acesse {
  font-family: Comic;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.static {
  position: absolute;
}

.static:hover {
  opacity: 0;
}

.OnlineStoreButton {
  position: relative;
  margin: 0 auto;
}

.online-store-animated-button {
  height: 90px;
  width: 485px;
}

.online-store-static-button {
}

.at {
  width: 79.2px;
  height: 83.2px;
  margin: 20px 15px;
  padding: 10px;
}

.cart {
  width: 79.2px;
  height: 83.2px;
  margin: 20px 15px;
}
