.grid-container {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}

.grid-item {
  background-color: #ff00ff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  text-align: center;
  height: 25vh;
  width: 25vw;
}
